body {
    margin: 0;
    font-family: 'Satoshi', Arial, sans-serif;
    background: url('https://r2.guns.lol/f549d67c-c15e-4c5f-86f0-0dcdd8f27b67.gif') no-repeat center center fixed;
    background-size: cover;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ui {
    position: relative;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1));
    border: 2px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.ui::before, .ui::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    top: 0;
    left: 0;
}

.ui::after {
    bottom: 0;
}

.btn-container {
    margin: 10px;
}

.btn-ata {
    padding: 20px 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn-ata:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-discord, .btn-youtube {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
}

.btn-discord {
    border-color: blue;
}

.btn-youtube {
    border-color: red;
}

.icon img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
